In [1]:
import pandas as pd

%load_ext sql
%sql sqlite://

'Connected: @None'

In [2]:
drivers = pd.read_csv('drivers.csv', encoding='ISO-8859-1')
%sql PERSIST drivers

 * sqlite://

'Persisted drivers'

In [3]:
%sql SELECT * FROM drivers LIMIT 10;

 * sqlite://
Done.

[(0, 1, 'hamilton', 44.0, 'HAM', 'Lewis', 'Hamilton', '07/01/1985', 'British', 'http://en.wikipedia.org/wiki/Lewis_Hamilton'),
 (1, 2, 'heidfeld', None, 'HEI', 'Nick', 'Heidfeld', '10/05/1977', 'German', 'http://en.wikipedia.org/wiki/Nick_Heidfeld'),
 (2, 3, 'rosberg', 6.0, 'ROS', 'Nico', 'Rosberg', '27/06/1985', 'German', 'http://en.wikipedia.org/wiki/Nico_Rosberg'),
 (3, 4, 'alonso', 14.0, 'ALO', 'Fernando', 'Alonso', '29/07/1981', 'Spanish', 'http://en.wikipedia.org/wiki/Fernando_Alonso'),
 (4, 5, 'kovalainen', None, 'KOV', 'Heikki', 'Kovalainen', '19/10/1981', 'Finnish', 'http://en.wikipedia.org/wiki/Heikki_Kovalainen'),
 (5, 6, 'nakajima', None, 'NAK', 'Kazuki', 'Nakajima', '11/01/1985', 'Japanese', 'http://en.wikipedia.org/wiki/Kazuki_Nakajima'),
 (6, 7, 'bourdais', None, 'BOU', 'SÌ©bastien', 'Bourdais', '28/02/1979', 'French', 'http://en.wikipedia.org/wiki/S%C3%A9bastien_Bourdais'),
 (7, 8, 'raikkonen', 7.0, 'RAI', 'Kimi', 'RÌ_ikkÌ¦nen', '17/10/1979', 'Finnish', 'http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C3%B6nen'),
 (8, 9, 'kubica', None, 'KUB', 'Robert', 'Kubica', '07/12/1984', 'Polish', 'http://en.wikipedia.org/wiki/Robert_Kubica'),
 (9, 10, 'glock', None, 'GLO', 'Timo', 'Glock', '18/03/1982', 'German', 'http://en.wikipedia.org/wiki/Timo_Glock')]

In [24]:
%sql SELECT forename, surname, dob FROM drivers WHERE nationality = 'Brazilian' AND substr(dob,7) > '1980'

 * sqlite://
Done.

[('Nelson', 'Piquet Jr.', '25/07/1985'),
 ('Felipe', 'Massa', '25/04/1981'),
 ('Lucas', 'di Grassi', '11/08/1984'),
 ('Bruno', 'Senna', '15/10/1983'),
 ('Felipe', 'Nasr', '21/08/1992')]